isc-dhcp-server==1.4.4
apache2==2.4.41
mysql-server==5.7.33
php==7.4.3
libapache2-mod-php==7.4.3
php-mysql==7.4.3
libgl1-mesa-glx==20.0.8
python3==3.8.2
python3-pip==20.0.2
python3-venv==20.0.2
Flask==1.1.1
Flask-Bcrypt==0.7.1
libmysqlclient-dev==5.7.33
pkg-config==0.29.1
mysqlclient==2.0.1
dlib==19.21.0
face_recognition==1.3.0
opencv-python==4.2.0
iptables==1.8.4
